# Xcode
DerivedData/
build/
*.xcworkspace
xcshareddata/
xcuserdata/

# Xcode user-specific files
*.xccheckout
*.moved-aside
*.xcuserstate

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Swift Package Manager
.build/
Packages/
Package.resolved
.swiftpm/

# Carthage
Carthage/Build/

# Logs
*.log

# Temporary
*.swp
*.lock

